body{
	/* max-width: 600px; */
	border: solid 1px black;
	text-align: center;
	max-width: 600px;
	margin: 10px auto;
	margin-top: 100px;
	font-family: "yu gothic";
}

#container{
		display: grid;
		grid-template-columns: 75px 65px  85px;
		grid-template-rows: 30px 30px 30px;
		max-width: 225px;
		margin: 0 auto;
}

/* form {
　　display: grid;
　　grid-template-columns: 200px 1fr;
} */

form label{
	/* vertical-align: middle; */
	/* text-align: center; */
	grid-column:  1/2;
	display: flex;
  justify-content: center;
  align-items: center;
	/* border: solid 1px black; */
}

#select{
	grid-column:  2/3;
}
#year{
	/* border: solid 1px black; */
	width: 81px;
	height: 26px;
	padding: 0;
	margin: 0;
	grid-column:  3/4;
}
#month,#day{
	height: 24px;
	grid-column:  2/4;
}

form input:focus,form select:focus,form input:hover,form select:hover{
		box-shadow: 0 0 5px pink;
		border:solid 1px pink;
		outline: 0;
}


input[type="button"]{
	margin-top: 10px;
	width: 225px;
	height: 30px;
	font-size: medium;
}

footer{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: small;
	color: lightgray;
}
